{% extends 'base.html' %}
{% block canonical %}{% url 'blog:list' %}{% endblock canonical %}
{% block seo_title %}Post List{% endblock seo_title %}
{% block content %}
    {% if posts %}
        <div>
            {% for post in posts %}

            <div class="card mb-3{% if post.is_highlighted %} featured{%endif%}">
                {# <img src="" class="card-img-top"> #}
                <div class="card-body">
                    <a href="{{post.get_absolute_url}}">
                        <h5 class="card-title">{{ post.title }}</h5>
                    </a>
                    <p class="card-text">{{ post.short_text }}</p>
                    {% if not post.is_published %}Draft{%endif%}
                </div>
                <div class="card-footer text-muted">
                    {{ post.created_date|date:"d.m.Y" }}
                    (update {{ post.updated_date|date:"d.m.Y" }})
                </div>
            </div>

            {% endfor %}
        </div>
    {% else %}
        <p>No posts here!</p>
    {% endif %}
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}

{% block aside %}
<div class="col-md-3 m-auto">
Sidebar
</div>
{% endblock aside %}