{% extends 'base.html' %}

{% block content %}
    {% if latest_post_list %}
        <div>
            {% for post in latest_post_list %}

            <div class="card mb-3">
                {# <img src="" class="card-img-top"> #}
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.short_text }}</p>
                        <a href="{% url 'blog:detail' post.slug %}" class="card-link">Read more...</a>
                </div>
                <div class="card-footer text-muted">{{ post.updated_date|date:"d.m.Y" }}</div>
            </div>

            {% endfor %}
        </div>
    {% else %}
        <p>No posts here!</p>
    {% endif %}
{% endblock %}

{% block aside %}
<div class="col-md-3 m-auto">
Sidebar
</div>
{% endblock aside %}